<html>
<head>
    <title>Peghaam {{ group }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
            var socket;
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                socket.on('connect', function() {
                    socket.emit('joined', {});
                });
                socket.on('status', function(data) {
                    $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                socket.on('message', function(data) {
                    $('#chat').val($('#chat').val() + data.msg + '\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);

                    var chatDiv = document.getElementById('chat');

                    var innerDiv = document.createElement('div');
                    innerDiv.className = 'row message-bubble';

                    var innerPara = document.createElement('p');
                    innerPara.className = 'text-muted';
                    innerPara.innerHTML = data.msg
                    innerDiv.appendChild(innerPara);

                    chatDiv.appendChild(innerDiv);

                });
                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        $('#text').val('');
                        socket.emit('text', {msg: text});
                    }
                });
            });

    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">{{ group }}</div>
            <div class="panel-body">
                <div id="chat" class="container">

                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="text" size=200 class="form-control" placeholder="Enter your message here"><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
